tensorflow-gpu==2.3.0
opencv-python==4.1.1.26
lxml
tqdm
absl-py
easydict
pillow
pytesseract
einops==0.2.0
torch
torchvision
matplotlib
PyYAML
lmdb
gdown
imutils
scipy
ocrd-fork-pylsd==0.0.3
pybind11
natsort